<div class="hero-unit">
  

<h1>Admin menu</h1>
<p>Find me in app/views/dostep/index.html.erb</p>
  <table class="table table-striped">
    
  
<%= link_to("Uzytkownicy", {:controller => 'uzytkowniks'}, :class => 'btn btn-default')%>
  <%= link_to("Grupy", {:controller => 'grupas'}, :class => 'btn btn-default')%>
  <%= link_to("Zamówienia", {:controller => 'zamowienies'}, :class => 'btn btn-default')%>
    <%= link_to("Kursy", {:controller => 'kursies'}, :class => 'btn btn-default')%>

  </table>
</div>