<div class="hero-unit">
  

<h1>Edycja zamowienia</h1>

<%= render 'form' %>
<div style="text-align: center;">
  
  
<%= link_to 'Show', @zamowieny , :class => 'btn btn-warning'%> |
<%= link_to 'Back', zamowienies_path , :class => 'btn btn-primary'%>
  
</div>
  </div>