<div class="hero-unit">
<h1>Edycja użytkownika</h1>

<%= render 'form' %>

<%= link_to 'Show', @uzytkownik , :class => 'btn btn-mini btn-primary'%> |
<%= link_to 'Back', uzytkowniks_path , :class => 'btn btn-mini btn-warning'%>
</div>
