<div class="hero-unit">
<h1>EEdycja grupy</h1>

<%= render 'form' %>

<%= link_to 'Show', @grupa , :class => 'btn btn-mini btn-primary'%> |
<%= link_to 'Back', grupas_path , :class => 'btn btn-mini btn-warning'%>
</div>