<!DOCTYPE html>
<html>
<head>
  <title>KURSOWO</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <%= yield %>
  </div>
<div id="footer">
  <div class="container">
    <p class="text-muted">
      KURSOWO &copy; <a href="https://www.google.pl/search?q=kursy+online&ie=utf-8&oe=utf-8&client=firefox-b-ab&gfe_rd=cr&ei=5St2WLuMD6vi8Af1gLWICA"
                        target="_blank">http://www.KURSOWO.pl</a>
    </p>
    
  </div>
  </div>

</body>
</html>