<div class="hero-unit">
<h1>Edycja kursów</h1>

<%= render 'form' %>

<%= link_to 'Show', @kursy , :class => 'btn btn-mini btn-primary'%> |
<%= link_to 'Back', kursies_path , :class => 'btn btn-mini btn-warning'%>
</div>